<!-- BEGIN Open Graph data -->
<meta property="og:locale"		content="en_US">
<meta property="og:title"		content="{{ page.title }}" />
<meta property="og:type"		content="website" />
<meta property="og:url"			content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:description" content="« The {{ page.title }} is an oil painting on wood panels by the Early Netherlandish painter Hieronymus Bosch, dating from around 1501. The work tells the story of the mental and spiritual torments endured by Saint Anthony the Great (Anthony Abbott), one of the most prominent of the Desert Fathers of Egypt in the late 3rd and early 4th centuries. » https://en.wikipedia.org/wiki/Triptych_of_the_Temptation_of_St._Anthony." />
<meta property="og:site_name"	content="earthlydelights" />

<meta property="og:image"			content="http://earthlydelights.garden/images/Temptation_of_Saint_Anthony_detail.png" />
<meta property="og:image:url"		content="http://earthlydelights.garden/images/Temptation_of_Saint_Anthony_detail.png" />
<meta property="og:image:type"		content="image/png" />
<meta property="og:image:width"		content="1200" />
<meta property="og:image:height"	content="630" />

<meta property="fb:admins" content="708154592"/>
<meta property="fb:app_id" content="104250825478" />
<!-- END Open Graph data -->
