<!-- BEGIN Open Graph data -->
<meta property="og:locale"		content="en_US">
<meta property="og:title"		content="{{ page.title }}" />
<meta property="og:type"		content="website" />
<meta property="og:url"			content="http://earthlydelights.garden" />
<meta property="og:description" content="« {{ page.title }} is the modern title given to a triptych painted by the Early Netherlandish master Hieronymus Bosch. It has been housed in the Museo del Prado in Madrid since 1939. Dating from between 1490 and 1510, when Bosch was between about 40 and 60 years old, it is his best-known and most ambitious complete work. » https://en.wikipedia.org/wiki/The_Garden_of_Earthly_Delights" />
<meta property="og:site_name"	content="earthlydelights" />

<meta property="og:image"			content="http://earthlydelights.garden/images/sample_center_bottom-600x340.png" />
<meta property="og:image:url"		content="http://earthlydelights.garden/images/sample_center_bottom-600x340.png" />
<meta property="og:image:type"		content="image/png" />
<meta property="og:image:width"		content="600" />
<meta property="og:image:height"	content="340" />

<meta property="fb:admins" content="708154592"/>
<meta property="fb:app_id" content="104250825478" />
<!-- END Open Graph data -->
