<!-- BEGIN Open Graph data -->
<meta property="og:locale"		content="en_US">
<meta property="og:title"		content="{{ page.title }}" />
<meta property="og:type"		content="website" />
<meta property="og:url"			content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:description" content="« {{ page.title }} is a panel painting by Hieronymus Bosch, currently housed in the Museo del Prado, Madrid, Spain. A date of around 1516 has been established by means of dendrochronological research. The central panel, signed Jheronimus Bosch, measures 135 by 200 centimeters and the wings measure 147 x 66 cm. The outside shutters feature a version of Bosch's The Wayfarer. » https://en.wikipedia.org/wiki/The_Haywain_Triptych" />
<meta property="og:site_name"	content="earthlydelights" />

<meta property="og:image"			content="http://earthlydelights.garden/images/the_haywain_triptych_detail.png" />
<meta property="og:image:url"		content="http://earthlydelights.garden/images/the_haywain_triptych_detail.png" />
<meta property="og:image:type"		content="image/png" />
<meta property="og:image:width"		content="800" />
<meta property="og:image:height"	content="900" />

<meta property="fb:admins" content="708154592"/>
<meta property="fb:app_id" content="104250825478" />
<!-- END Open Graph data -->
